@{
    ViewData["Title"] = "Categorías";
}

<div class="text-center">
    <h1 class="display-4">Categorías</h1>
</div>


<a href="@Url.Action("Create", "Category")" class="btn btn-success">Crear Nueva Categoría</a>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model)
        {
            <tr>
                <td>@category.Id</td>
                <td>@category.Nombre</td>
                <td>
                    <a href="@Url.Action("Edit", "Category", new { id = category.Id })"><i class="fa-solid fa-pen"></i></a> |
                    <a href="@Url.Action("Delete", "Category", new { id = category.Id })"><i class="fa-solid fa-trash-can" style="color: #b02129;"></i></a>
                    hola
                </td>
            </tr>
        }
    </tbody>
</table>